body {
  width: 35em;
  margin: 0 auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

#calcBackground {
  width: 450px;
  height: 550px;
  font-size: 21px;
  text-align: right;
  background-color: rgb(60,60,60);
  color: white;
  margin: 0;
  position: absolute;
  z-index: -999;
}

#output {
  line-height: 50px;
  word-wrap: break-word;
  width: 330px;
  height: 100px;
  margin: 0;
  font-size: 50px;
  font-family: monospace;
  background-color: black;
  color: red;
  text-align: right;
}

button {
  height: 100px;
  width: 100px;
  color: white;
  background-color: gray;
  font-size: 40px;
}

.allButtons {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-width: 255px;
}

.operatorButton, #buttonPlusEquals {
  background-color: rgb(95,95,95);
}

#buttonClear {
  background-color: red;
}

