<div class="row">
  <div class="column">
    <h1 id="index-page">Join a Game</h1>

    <script>
      function joinGame() {
        window.location = "/game/demo";
      }
    </script>

    <form action="/game/" method="get">
      <input type="text" name="gameName">
      <input type="submit" value="Submit">
    </form>

    <input type="text" name="gameName">
    <button onclick="joinGame()">Join Game</button>

    <p><a href="/game/demo">Join "demo"</a></p>
  </div>
</div>
